body {/* Requirement-2.A */ 
    background-color: lightgoldenrodyellow; /* Requirement-2.4 */ 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Requirement-2.1 */ 
}
h1 {
    font-size: 36px;
    color: #6c4b81; /* Requirement-2.3 */ 
}
h2 {/* Requirement-2.B */ 
    color: #205a77;
}
nav {
    font-size: 48px;
    border: 10px solid #e4ae1d;
    border-radius: 5px;
}
.drawing { /* Requirement-2.C */ 
    width: 450px; /* Requirement-2.7 */ 
}
figcaption {
    font-size: 24px;
    text-align: left; /* Requirement-2.2 */ 
}
footer {
    font-size: 18px;
    border: 4px dotted #cca326; /* Requirement-2.5 */ 
    margin-left: 10px; /* Requirement-2.6 */ 
}
li {
    color: #173b03;
}